#carousel {
  background-color: #00adb5;
}

#follow-me {
  background-color: #00adb5;
  padding-bottom: 1%;
}

#skills {
  background-color: #393e46;
  color: #eeeeee;
}

#cv {
  background-color: white;
}

body {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-color: #eeeeee;
  margin: 0;
  padding-top: 56px;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Montserrat', sans-serif;
  color: #222831;
  font-weight: bold;
  line-height: 2;
  margin: 0;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #222831;
  font-weight: normal;
  padding: 2rem 0;
  line-height: 2;
  margin: 0;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #393e46;
  line-height: 2;
  font-size: 1.6rem;
}

hr {
  border: dotted #393e46 6px;
  border-bottom: none;
  width: 5%;
  margin: 50px auto;
}

p {
  line-height: 2;
  font-size: 1.2rem;
}

a {
  color: #eeeeee;
}

.subtitle {
  padding: 0;
  margin-bottom: 2rem;
}

.container-fluid {
  padding: 3% 15%;
}

.container-fluid-custom {
  padding: 10% 15%;
}

.profile-image {
  border-radius: 100%;
  width: 35%;
}

.download-image {
  width: 7.5%;
  margin: auto;
  display: block;
}

.follow-me-icon {
  font-size: 3.5rem;
  color: #222831;
}

.custom-sentence {
  width: 50%;
  margin: auto;
}

.btn-lg {
  padding: 1.5rem 3rem;
}

.btn-custom {
  background-color: #393e46;
  color: #eeeeee;
  font-size: 1.4rem;
}

.btn:hover {
  background-color: #222831;
  color: #eeeeee;
}

.feature-box {
  color: #eeeeee;
  text-align: center;
  padding: 5%;
}

.icon {
  color: #eeeeee;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #eeeeee;
}

.skills-title {
  color: #eeeeee;
  margin-bottom: 2rem;
  font-weight: 900;
}

.copyright {
  margin-top: 3rem;
}

.fab {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.custom-sentence-skills {}

.carousel-item {
  padding: 7% 15%;
}

.carousel-inner{
  height: 850px;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    height: calc(100vh - 50px);
    text-align: left;
    text-size: 3rem;
    margin: 5rem 0;
  }

  .nav-link {
    margin-left: 0;
    font-size: 2.5rem;
    margin-top: 3rem;
  }

  .fixed-top {
    padding: 2rem;
  }

  .navbar-toggler-icon {
    width: 3rem;
    height: 3rem;
  }

  h1 {
    font-size: 6.2rem;
  }

  h2 {
    font-size: 3.1rem;
  }

  h3 {
    font-size: 2.2rem;
  }

  p {
    font-size: 1.8rem;
  }

  .btn-custom {
    font-size: 2rem;
  }

  .download-image {
    width: 12%;
  }

  body {
    padding-top: 123px;
  }

  .fab {
    font-size: 80px;
  }

  .custom-sentence-skills {
    width: 50%;
    margin: auto;
  }

  .profile-image {
    width: 45%;
  }
}
