*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	text-transform: uppercase;
	font-size: 5rem;
}

p {
	font-size: 3rem;
	line-height: 150%;
}

.section {
	padding: 80px 80px;
	height: 100vh;
	text-align: center;
}

.header {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
	color: white;
}

.profile-image {
	border-radius: 100%;
	width: 80%;
	margin-top: 10%;
	margin-bottom: 10%;
}

.row-icon {
	width: 20%;
	margin: 10%
}

.anchor-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
	background: #393e46;
    width: 100%;
    padding: 10%;
    font-size: 2.5rem;
}
}

.info-section p {
	width: 60%;
	margin: auto;
}

.get-in-touch-section {
	background-color: #eeeeee;
}

.follow-me-section {
	background-color: #393e46;
	color: white;
}

.follow-me-icon {
  font-size: 8rem;
  color: white;
  margin: 1.5rem;
}

.info-section-icon{
	margin-right: 1rem;
}

.author {
	position: relative;
	top: 70%;
}
