*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
	text-rendering: optimizeLegibility;
}

h1 {
	text-transform: uppercase;
	font-size: 220%;
}

p {
	font-size: 150%;
	line-height: 150%;
}

.scroll-icon {
	width: 30%;
	margin: 0;
}

.section {
	padding: 10% 10%;
	height: 100vh;
	text-align: center;
	color: #222831;
	background-color: #eeeeee;
}

.special-section {
	background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.special-section-ios-version {
	background-size: cover;
    background-position: center;
}

.header {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/header.jpg);
	color: #eeeeee;
}

.about {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/about_two.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/about_two.jpg);
	color: #eeeeee;
}

.profile-image {
	border-radius: 100%;
	width: 85%;
	margin-top: 10%;
	margin-bottom: 10%;
	    animation-name: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
	backface-visibility: hidden;
}

.row-icon {
	width: 25%;
	margin: 10%
}

.anchor-button:link,
.anchor-button:visited
 {
    text-decoration: none;
    width: 100%;
    padding: 10%;
    font-size: 125%;
	font-weight: 700;
	display: inline-block;
	border-radius: 5px;
	border-color: transparent;
	cursor: pointer;
}

.anchor-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.anchor-button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-dark {
	    color: #eeeeee;
	background: #393e46;
}

.btn-light {
	    color: #393e46;
	background: #eeeeee;
}

.input-button {
	text-decoration: none;
    color: #eeeeee;
	background: #393e46;
    width: 100%;
    padding: 10%;
    font-size: 125%;
	font-weight: 700;
	border-radius: 5px;
	border-color: transparent;
	cursor: pointer;
}

.info-section p {
	width: 60%;
	margin: auto;
}

.about input {
	color: #393e46;
	background-color: #eeeeee;
}

.get-in-touch-section form > input {
	color: #393e46;
	background-color: #eeeeee;
}


.get-in-touch-section {
	background-image: -webkit-linear-gradient(rgba(0, 173, 181, 0.8), rgba(0, 173, 181, 0.8)), url(../img/contact.jpg);
    background-image: linear-gradient(rgba(0, 173, 181, 0.8), rgba(0, 173, 181, 0.8)), url(../img/contact.jpg);
	color: #eeeeee;
}

.follow-me-section {
	background-color: #393e46;
	color: #eeeeee;
	position: relative;
}

.follow-me-icon {
  font-size: 3rem;
  color: #eeeeee;
  margin: 1rem;
  text-decoration: none;
}

.fab:hover {
	    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.fab:active {
	    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.contact-me-icon {
  font-size: 4rem;
  color: #393e46;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
}

.info-section-icon{
	margin-right: 1rem;
}

.social-icons {
	margin-top: 20%;
}

.footer {
	position: relative;
	top: 35%;
}

.footer img {
	margin-bottom: 2rem;
	width: 60%;
}

@media only screen and (min-width: 768px) {
  
	h1 {
	font-size: 360%;
	}
	
	.header h1 {
		margin: 5px;
	}
	
	.scroll-icon {
		width: 20%;
	}
  
	p {
	font-size: 200%;
	}
  
	.profile-image {
	  width: 55%;
	  margin-bottom: 5%;
	  margin-top: 5%;
	  
	}
  
	.section {
	  padding: 5% 15%;
	}
  
	.anchor-button:link,
.anchor-button:visited	{
	  padding: 6%;
	  font-size: 200%;
	}
	
	.input-button {
	  padding: 6%;
	  font-size: 200%;
	}
  
	.row-icon {
		width: 15%;
		margin: 5%;
	}
	
	.social-icons {
		margin-top: 10%;
	}
	
	.follow-me-icon {
		font-size: 4.5rem;
	}
	
	.footer {
		top: 20%;
	}
	
	.footer img {
		width: 30%;
	}
}

@media only screen and (min-width: 1024px) {
  
	h1 {
	font-size: 360%;
	}
  
	p {
	font-size: 200%;
	}
  
	.profile-image {
	  width: 60%;
	}
  
	.section {
	  padding: 5% 25%;
	}
  
	.anchor-button:link,
	.anchor-button:visited{
	  padding: 6%;
	  font-size: 200%;
	}
	
	.input-button {
	  padding: 6%;
	  font-size: 200%;
	}
  
	.row-icon {
		width: 15%;
		margin: 5%;
	}
	
	.social-icons {
		margin-top: 10%;
	}
	
	.follow-me-icon {
		font-size: 4.5rem;
	}
	
	.footer {
		top: 20%;
	}
	
	.footer img {
		width: 35%;
	}
}

@media only screen and (min-width: 1440px) {
  
	h1 {
	font-size: 360%;
	}
  
	p {
	font-size: 200%;
	}
  
	.profile-image {
	  width: 75%;
	}
  
	.section {
	  padding: 2% 35%;
	}
  
	.anchor-button:link,
	.anchor-button:visited {
	  padding: 6%;
	  font-size: 200%;
	}
	
	.input-button {
	  padding: 6%;
	  font-size: 200%;
	}
  
	.row-icon {
		width: 15%;
		margin: 5%;
	}
	
	.social-icons {
		margin-top: 10%;
	}
	
	.follow-me-icon {
		font-size: 4.5rem;
	}
	
	.footer {
		top: 20%;
	}
	
	.footer img {
		width: 35%;
	}
}


.heading-primary-main {
	animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
	    backface-visibility: hidden;
}

.heading-primary-sub {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;	
	    backface-visibility: hidden;
}

.arrow-box {
		    animation-name: moveInTop;
    animation-duration: 1s;
    animation-timing-function: ease-out;	
	    backface-visibility: hidden;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInDown {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
